body {
  background-color: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

img {
  border-radius: 50%;
}

button {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}
img {
  margin: 10px;
  border-radius: 10px;
}
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
